.mydiv {
    flex-direction: column;
    align-items: top;
    justify-content: top;
    box-sizing: border-box;
    background: rgba(255,128,0,1) 100%;
}
.imgs{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: auto;
}
.myDivItem{
    display: block;
    display: flex;
    margin: auto;
    margin-top: 15%;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo{
    height: 100px;
    width: 100px;
    align-items: center;
    justify-content: center;
}