.box {
    display: flex;
    background-color: rgb(232, 209, 201);
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}
.botones {
    display: flex;
    align-items: center;
    justify-content: center;
    }